# Byte-compiled / optimized / DLL files
__pycache__/
.idea/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.vscode

# Coverage etc.
.coverage
htmlcov/
coverage/
coverage.xml

# Generated Documentation
/docs/_build/
/docs/modules.rst
/docs/anomaly_detection.rst
/docs/anomaly_detection.*.rst
public/

# builds
*.egg-info/
build/
dist/

# tests
.pytest_cache/
test_report.xml

# data
*.pkl
*.attrs
*.model

# logging
*.log

# virtual environment
.venv/
